@import "utils/reset";
@import "utils/fonts";
@import "utils/vars";
  
// code here
html{
  font-family: $mainFont;
  background-color: $default-color;
  font-size: $mainFontSize;
}

@import "modules/header.scss";